@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  #stars-background {
    position: relative;
    min-height: 100%;
  }
  
  #stars-background canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
  }
}

